<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Train the Model X</h1>
    <form action="/trainX" method="POST">
        <button type="submit">Train Model</button>
    </form>
    <h1>Train the Model S</h1>
    <form action="/trainX" method="POST">
        <button type="submit">Train Model</button>
    </form>
</body>
</html>